.project-card-container {
    display: flex;
    height: 450px;
    margin: 3rem 0;
    width: 98%;
    justify-content: space-between;
}

.project-image-container {
    width: 40%;
    height: 100%;
    position: relative;
}

.project-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project-text-container {
    width: 55%;
    margin-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.project-text-container h2{
    font-size: 2rem;
}
.project-text-container p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.check-it-out-button {
    width: 200px;
    height: 60px;
    transform: var(--matrix-variable);
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.4rem 1rem;
    text-decoration: none;
    flex-direction: row-reverse;
    margin: 0.5rem 0;
    cursor: pointer;
    margin-right: 2rem;
}

.check-it-out-button h3 {
    color: white;
    transform: var(--matrix-variable);
    font-weight: 200;
    font-size: 2rem;
    cursor: pointer;
}

.check-it-out-button:hover {
    opacity: 0.8;
}
.project-links-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.git-button-wrapper {
    cursor: pointer;
}

.git-button-wrapper:hover {
    opacity: 0.8;
}


@media only screen and (orientation: portrait) {
    .project-card-container {
        height: auto;
        flex-direction: column;
    }
    .project-image-container {
        width: 100%;
    }
    .project-text-container {
        width: 100%;
    }
} 