.review-tab-container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 3px var(--secondary-color-var);
    margin: 1rem;
    padding: 0.5rem;
}

.review-tab-container h3 {
    font-size: 1.4rem;
}

.review-tab-container p {
    font-size: 1.2rem;
}

.review-rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;
}

.review-rating-wrapper svg{
    width: 25px;
    height: 25px;
}

@media only screen and (orientation: portrait) {
    .review-tab-container {
        width: 100%;
        height: auto;
    }
}