.blender-feature-container {
    position: relative;
    display: flex;
    width: 35%;
    margin: 1rem 0;
}

.blender-feature-tag {
    width: 200px;
    height: 60px;
    transform: var(--matrix-variable);
    background-color: black;
    position: absolute;
    top: -20px;
    left: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    z-index: 10;
}

.blender-feature-tag h3 {
    color: white;
    transform: var(--matrix-variable);
    font-weight: 200;
    font-size: 2rem;
}

.blender-feature-button {
    width: 90px;
    height: 60px;
    transform: var(--matrix-variable);
    background-color: black;
    position: absolute;
    bottom: -20px;
    right: -45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
}

.blender-feature-button svg {
    transform: var(--matrix-variable);
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.blender-feature-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blender-feature-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media only screen and (orientation: portrait) {
    .blender-feature-container {
        width: 100%;
    }

    .blender-feature-tag {
        top: -25px;
        left: 0;
    }
    .blender-feature-button {
        right: 0;
        bottom: -25px;
    }
}