
.splash-screen-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.back-splash-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.inner-splash-screen-container h1 {
    font-size: 8vw;
    font-weight: 200;
    text-align: center;
    margin-bottom: 5px;
}

.inner-splash-screen-container p {
    text-align: center;
    font-size: 1.8rem;
}

.back-splash-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.flashing-arrow-container {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    animation: flashing 3s infinite forwards linear;
}

@keyframes flashing {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}