.extras-outer-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 40px;
    margin-bottom: 80px;

}

.inner-extras-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    flex-shrink: 0;
    max-width: 1600px;
}

@media only screen and (orientation: portrait) {
    .inner-extras-container {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
    .blender-feature-container {
        margin-top: 3rem;
    }
}