.intro-container {
    position: relative;
    display: flex;
    height: 800px;
    width: 35%;
    margin: 1rem 0;
    flex-direction: column;
}
.welcome-tag {
    width: 200px;
    height: 60px;
    transform: var(--matrix-variable);
    background-color: black;
    position: absolute;
    top: -20px;
    left: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
}

.welcome-tag h3 {
    color: white;
    transform: var(--matrix-variable);
    font-weight: 200;
    font-size: 2rem;
}

.intro-text-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 1.5rem;
    position: relative;
    align-items: center;
}

.intro-text-container p svg {
    margin-right: 1rem;
}

.intro-text-container p {
    font-size: 1.5rem;
    line-height: 1.8;
    text-indent: 20px;
}

.intro-buttons-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -25px;
}

.intro-button {
    width: 200px;
    height: 60px;
    transform: var(--matrix-variable);
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.4rem 1rem;
    text-decoration: none;
    flex-direction: row-reverse;
    margin: 0.5rem 0;
}

.intro-button h3 {
    color: white;
    transform: var(--matrix-variable);
    font-weight: 200;
    font-size: 2rem;
}

.intro-button svg {
    transform: var(--matrix-variable);
    width: 80%;
    height: 80%;
    object-fit: contain;
}

@media only screen and (orientation: portrait) {
    .intro-container {
        width: 80%;
        margin-top: 5rem;
    }

    .intro-text-container {
        align-items: center;
    }

    .welcome-tag {
        left: 0;
        top: 0;
    }
}