.content-divider-container {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 2rem 0;
}

.inner-content-divider-container {
    width: 100%;
    max-width: 1600px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inner-content-divider-container .line {
    width: 40%;
    height: 3px;
    background-color: black;
    content: "";
    flex-shrink: 1;
    flex-grow: 2;
}

.inner-content-divider-container svg {
    width: 65px;
    margin: 0 2rem;
    height: 65px;
    flex-shrink: 0;
}

@media only screen and (orientation: portrait) {
    
}